:root {
    --text: #ff5e78;
    --modaltext: #350b40;
    --minty: #75cfb8;
}

* {
    font-family: 'Questrial', serif;
}

body {
    margin: 0 auto;
}


.init-navbar {
    background-color: rgb(86, 72, 105);
    padding: 4px;
}

.init-navbar-li {
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.login-link:hover, .signup-link:hover {
    color: var(--minty)
}

.about-link:visited {
    color: white;
}

.about-link:hover {
    color: var(--minty);
}

.login-link, .signup-link, .about-link {
    font-size: 24px;
    cursor: pointer;
}

.landing-page {
    color: white;
    height: 100vh;
    width: 100vw;
    background-image: url('./images/landing.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
}

.lp-header {
    margin-top: 0;
    padding-top: 5px;
    padding-left: 5px;
}

.lp-p {
    padding-left: 5px;
}

p {
    font-size: 18px;
}

button {
    font-size: 16px;
    color: var(--modaltext);
    background-color: #75cfb8;
    border: 1px solid var(--modaltext);
    padding: 10px 30px;
    border-radius: 5px;
}

button:hover {
    color: #75cfb8;
    background-color: var(--modaltext);
    cursor: pointer;
}

img {
    max-width: 500px;
    max-height: 400px;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--modaltext);
}

.main-navbar {
    color: var(--modaltext);
    font-size: 24px;
    background-color: #f9f871;
    padding: 4px;
}

.main-navbar-li {
    display: flex;
    justify-content: space-evenly;
}

#logo {
    background-color: var(--minty);
    border-radius: 40px;
    border: 2px solid var(--modaltext);
    height: 40px;
    width: 40px;
}

.fa-save{
    font-size: 24px;
}

ul {
    list-style: none;
}


.fas {
    font-size: 30px;
    background-color: #ffc75f;
    border-radius: 40px;
    color: var(--text);
}

.article-title {
    font-size: 24px;
    color: var(--text);
}

label, input {
    display: inline-block;
    font-size: 18px;
}

label {
    width: 50%;
}

label+input {
    width: 50%;
    margin-bottom: 15px;
}

.about {
    color: white;
    background-image: url('./images/about.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
}

.about-header {
    margin-top: 0;
    padding-top: 5px;
    padding-left: 5px;
}

.home-page {
    background-color: #fdf1d6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* /////////
///MODAL///
////////*/
.mymodal {
    text-align: center;
    color: #350b40;
    background-image: url('./images/modalbg.jpg');
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    height: 250px;
    width: 500px;
  }

  .signupmodal {
    text-align: center;
    color: #350b40;
    background-image: url('./images/modalbg.jpg');
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    height: 400px;
    width: 600px;
  }
  
  .myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }